!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
    %style
      :plain
        html, body {  
          margin: 0px;  
          padding: 0px;  
          border: 0px;  
          width: 160px;
          height: 600px;
        }  
      
  %body
    :javascript
      document.domain = 'posterous.jarinudom.com';
      var clicky_custom = {};
      clicky_custom.href = '#{URI.parse(request.env["HTTP_REFERER"]).path}';
      

    :plain
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-3727069797306625";
      /* jarin.posterous.com */
      google_ad_slot = "9026956698";
      google_ad_width = 160;
      google_ad_height = 600;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

    :plain
      <script type="text/javascript">
      var clicky = { log: function(){ return; }, goal: function(){ return; }};
      var clicky_site_id = 209818;
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
      </script>
      <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/209818ns.gif" /></p></noscript>

