#banner {
  background-color: #202400;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202400', endColorstr='#111300');
  background: -webkit-gradient(linear, left top, left bottom, from(#202400), to(#111300));
  background: -moz-linear-gradient(top, #202400, #111300);
  -moz-box-shadow: 0px -1px 0px #454121;
  -webkit-box-shadow: 0px -1px 0px #454121;
  box-shadow: 0px -1px 0px #454121;
  filter: Shadow(Color=#454121, Direction=0, Strength=1);
  border-bottom: 1px solid #333333;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  color: #d2ce9e;
  padding: 28px 0 10px 0; }
  #banner p {
    font-size: 2em;
    line-height: 1.4em;
    padding: 0 0 0 28px;
    margin-bottom: 1em; }
  #banner img, #banner p.caption {
    padding: 0 28px; }
  #banner p.caption {
    font-size: 1.2em; }
  #banner a {
    color: #cca63b;
    text-decoration: none; }
    #banner a:hover {
      color: #fadc60; }

#fun_facts {
  padding: 1em 0 1ex 0;
  border-top: 1px solid black; }
  #fun_facts p {
    background-color: #fadc60;
    border-top: 1px dashed #d3b256;
    border-bottom: 1px dashed #d3b256;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #9b7d28;
    padding: 1ex 0; }

#content {
  background-color: white;
  color: #333333;
  border-bottom: 1px solid #cccccc; }
  #content h2, #content aside h3 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2px; }
  #content article {
    margin: 0 28px 3em 28px; }
    #content article h4 {
      color: #666666; }
    #content article h3 {
      margin-top: 1.5em;
      font-size: 1.6em;
      color: #cca63b; }
    #content article ul.inline_links {
      margin-left: 0;
      padding-bottom: 1em;
      padding-left: 0; }
      #content article ul.inline_links li {
        margin-left: 0;
        padding: 0 15px;
        border-left: 1px solid #666666;
        list-style: none;
        display: inline; }
        #content article ul.inline_links li.first {
          margin-left: 0;
          padding-left: 0;
          border-left: none;
          list-style: none;
          display: inline; }
  #content blockquote {
    font-size: 1.4em;
    line-height: 2em;
    margin: 2em 0 0 0;
    padding: 0; }
    #content blockquote p {
      margin: 0;
      padding: 0; }
    #content blockquote .source {
      display: block;
      font-style: normal;
      font-size: 0.9em;
      color: #333333; }
  #content aside h3 {
    color: #666666; }
  #content aside ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
    #content aside ul li {
      color: #999999;
      margin-left: 0;
      padding: 0 0 1.5ex 0; }
      #content aside ul li a {
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none; }
        #content aside ul li a:hover {
          text-decoration: underline; }
  #content aside section.first {
    padding-top: 4px; }
  #content aside section {
    margin: 0 28px 1.2em 0; }
