%section#banner.row
  %article.col.col_10.align_left
    :textile
      Hi, my name's Jarin Udom. I'm the founder and lead developer of "Robot Mode LLC":http://robotmo.de, a technology consulting company.
      
      I specialize in web development with Ruby on Rails, iPhone and iPad development with Cocoa, and helping businesses improve their online presence, productivity, and project workflow.
      
      
  %figure.col.col_6.align_center
    = image_tag "jarin.jpg", :alt => "Jarin Udom"
    %legend Imperial Palace, Tokyo, Japan
    
    
%section#content.row
  %aside#fun_facts
    :textile
      This site is was developed on a Mac with Ruby on Rails, HTML 5, CSS 3, and 52framework.
    
  %section.col.col_11
    %article
      :textile
        h2. Awesome?
    %article
      :textile
        h2. In the Press
        
  %aside.col.col_5
    %section
      :textile
        h3. Around the Web
        
        * "Jarinheit":http://jarinheit.com
        My blog of programming stuff
        * "Jarin's Posterous":http://jarin.posterous.com
        Random links and videos
        * "Facebook":http://facebook.com/jarin
        * "LinkedIn":http://www.linkedin.com/in/jarinudom
    
    %section
      :textile
        h3. Things I Use
        
    %section
      :textile
        h3. Homies and Cronies