%footer.row
  %section.col_16.col.align_center
    :textile
      &copy; 2010 Jarin Udom. You can use whatever you like from the "source code":http://github.com/jarinudom/jarinudom.com for whatever you want, except for images and content. Those are mine!
