%footer.row
  %section.col_8.col.align_left
    All rights reserved 52framework owned by <a href="http://enavu.com">enavu network</a>
  %section.col_8.col.align_right
    Have questions? Contact me at angel@enavu.com | Even if it's just to say thanks!
